{block content}
    <div>
        <h1 n:block=title>{$productId} - {$productName}</h1>
    </div>
<div>
    <h2 n:block=subtitle>Product details:</h2>
    <p n:block=description>{$productShortDescription}</p>
{/block}
