search:
	default:
		in: %appDir%
		classes:
			- *Factory
			- *Facade


services:
	- App\Router\RouterFactory::createRouter
	- App\Model\Category\CategoryRepository
	- App\Model\Product\ProductRepository
	- App\Model\User\UserRepository
	- App\Model\Cart\CartItemRepository
	- App\Model\Order\OrderRepository
	- App\Model\Cart\CartRepository
	Authenticator: App\Model\Authenticator
	app.cartItemRepository:
		type: App\Model\Cart\CartItemRepository
		factory: ['@doctrine.orm.entityManager', 'getRepository']
		arguments:
			- App\Model\Cart\CartItem
	app.orderRepository:
		type: App\Model\Order\OrderRepository
		factory: ['@doctrine.orm.entityManager', 'getRepository']
		arguments:
			- App\Model\Order\Order
	app.orderItemRepository:
		type: App\Model\Order\OrderItemRepository
		factory: ['@doctrine.orm.entityManager', 'getRepository']
		arguments:
			- App\Model\Order\OrderItem
