search:
	default:
		in: %appDir%
		classes:
			- *Factory
			- *Facade


services:
	- App\Router\RouterFactory::createRouter
	- App\Model\Category\CategoryRepository
	- App\Model\Product\ProductRepository
	- App\Model\User\UserRepository
	Authenticator: App\Model\Authenticator
    app.cartItemRepository:
        class: App\Repositories\CartItemRepository
        factory: ['@doctrine.orm.entityManager', 'getRepository']
        arguments:
            - App\Entities\CartItem
    app.orderRepository:
        class: App\Repositories\OrderRepository
        factory: ['@doctrine.orm.entityManager', 'getRepository']
        arguments:
            - App\Entities\Order
    app.orderItemRepository:
        class: App\Repositories\OrderItemRepository
        factory: ['@doctrine.orm.entityManager', 'getRepository']
        arguments:
            - App\Entities\OrderItem
