<div class="nav-scroller py-1 mb-2">
    <nav class="nav d-flex justify-content-between">
        <a n:foreach="$links as $link" class="p-2 link-secondary" href="{$link['url']}">{$link['name']}</a>
    </nav>
</div>




